.App {
  text-align: center;
}


.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
}

.input {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.home-icon {
  margin-right: 50px;
}

.home-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.home-link:hover {
  color: #666;
}

.card {
  max-width: 512px;
  margin: 0 auto;
  /* display: inline; */
}

.card:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  cursor: pointer;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  overflow: hidden;
 
}

.go-back {
text-decoration: none;
outline: none;
  margin-left: -600px;
}

.arrow{
  outline: none;
  border: none;
  background-color: transparent;
}


.details{
  margin: auto;
  max-width: 75%;
}

.card-link{
  text-decoration: none;
}


.loading-skeleton {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loading-skeleton-item {
  width: 80%;
  height: 20px;
  background-color: #887d7d; 
  border-radius: 4px;
  margin-left: 50px;

}

.loading-skeleton-title {
  width: 50%; 
  margin-left: 50px;

}

.loading-skeleton-image {
  margin-left: 50px;
  width: 70%;
  height: 300px; 
}

.loading-skeleton-text {
  width: 60%; 
  margin-left: 50px;

}